
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1{
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;

    margin-bottom:5px;
}

p {
    margin-top: 0;
    text-align: left;
    line-height: 1.5;
}

.highlight {
    background-color: #FFA500;
    font-weight: normal;
}

.red-text {
    color: #FF0000;
    font-weight: bold;
}

ins {
    text-decoration: underline;
}